<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="bdc2c365-6095-4608-a5e1-6a18c6cd5cd2" wadlVersion="http://wadl.dev.java.net/2009/02" name="DeleteUserByHeader" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="bdc2c365-6095-4608-a5e1-6a18c6cd5cd2fileName">DeleteUserByHeader</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>