<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8f3eb037-32e1-4092-ba3a-b10c4a306f54" wadlVersion="http://wadl.dev.java.net/2009/02" name="Createuser" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8f3eb037-32e1-4092-ba3a-b10c4a306f54fileName">CreateUser</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>
